<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101580821215-4uia6ld4ria65mi6spuibcmm1u20arps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101580821215-4uia6ld4ria65mi6spuibcmm1u20arps</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ6xS18jKAAIiDAf23aG75DXb6433GABQ</string>
	<key>GCM_SENDER_ID</key>
	<string>101580821215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myBankApp</string>
	<key>PROJECT_ID</key>
	<string>my-bank-app-c3b6d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-bank-app-c3b6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101580821215:ios:7e875237be5cccd3ef8f6a</string>
</dict>
</plist>